name: Publish Docker Image

on:
  push:
    branches:
      - add_github_actions


jobs:
    deploy:
        env:
            REGISTRY_IMAGE_TAG: 'latest'
            CI_REGISTRY_IMAGE: bluebrain/thumbnail-generation-api
        runs-on: ubuntu-latest
        steps:
            - name: Check out code
              uses: actions/checkout@v4

            - name: Docker Hub Login
              uses: docker/login-action@v3
              with:
                file: ./Dockerfile
                username: ${{ vars.BBPBUILDBOT_DOCKERHUB_USER }}
                password: ${{ secrets.BBPBUILDBOT_DOCKERHUB_PASSWORD }}
                    
            - name: Build and Push Docker Image
              uses: docker/build-push-action@v5
              with:
                push: true
                tags: ${{ vars.BBPBUILDBOT_DOCKERHUB_USER }}/${{ vars.CI_REGISTRY_IMAGE }}:${{ env.REGISTRY_IMAGE_TAG }}